* { 
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color:black ;
    font-style: normal;
    box-sizing: border-box;
    text-align: center;
    
}
body{
    background-image: url(../assets/image/pexels-asad-photo-maldives-9394652.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.titre{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
    background-color: rgba(76, 177, 235, 0.473);
    border: solid;
    border-radius: 4px 4px;
    padding: 5px;
    color:  black;
    display: initial;
}

.if{
    width: 400px;
    height: 170px;
    background-color: rgba(76, 177, 235, 0.623);
    
    margin: 10px auto ;
    display: block;
    position: relative ;
    padding-top: 5px;
    text-align:left;
    
    
}

.cathegorie{ 
    
    text-align: left;
    font-weight:bold;
    margin-left: 15px;
    margin-bottom: 15px;
    
    
}
.image{
    display: inline-block;
    width: 150px;
    margin-left: 15px
   

}
img{
    margin: 0px;
    display: inline-block;
    width: 150px;
    height: 108px;
}
.marque{
    position: absolute;
    display: -webkit-box;
    top: 60px;
    right: -174px;
    width: -webkit-fill-available;
}
.model{
    display: -webkit-box;
    position: absolute;
    top: 85px;
    right: -174px;
    width: -webkit-fill-available;
    
}
.price{
    display: -webkit-box;
    position: absolute;
    top: 112px;
    right: -174px;
    width: -webkit-fill-available;

}
.close{
    width: 20px;
    background-color: rgb(248, 8, 8);
    color: white;
    position: absolute;
    top: 9px;
    right: 15px;
    border-radius: 6px 6px;
    
}
.formulaire-add-car{
    background-color: rgb(76, 177, 235); 
    display:block;
    width: 29%;
    height: 480px;
    margin: 0px auto;
    

}
.input-formulaire{
    margin-top: 5px;
    margin-bottom: 5px;

}
.lbl{
    color:rgb(100, 237, 152); ;
}

.input-formulaire{
     color: black;
}
.autre{
    color: black;
}

#btn-vendre{
    background-color: rgba(100, 237, 152, 0.527);
    
}
.input-search {
    transition: width 0.4s ease-in-out;
  }
  
.input-search:focus {
    width: 100%;
  }
a{
      text-decoration: none;
}

